<template>
  <div>
    <h1>Page with posts</h1>
    <my-input
        v-model="searchQuery"
        placeholder="Search..."
    />
    <div class="app__btns">
      <my-button class="create__btn" @click="showDialog">Create post</my-button>
      <my-select
          v-model="selectedSort"
          :options="sortOptions"
      />
    </div>
    <my-dialog v-model:show="dialogVisible">
      <post-form
          @create="createPost"
      />
    </my-dialog>
    <post-list
        :posts="sortedAndSearchedPosts"
        @remove="removePost"
        v-if="!isPostsLoading"
    />
    <div v-else>Loading........</div>
    <div v-intersection="loadMorePosts" class="observer"></div>
    <!--    Page numbers pith pagination to see exact posts-->
    <!--    <div class="page__wrapper">-->
    <!--      <div-->
    <!--          v-for="p in totalPages"-->
    <!--          :key="p"-->
    <!--          class="page"-->
    <!--          :class="{-->
    <!--            'current-page': p === page-->
    <!--          }"-->
    <!--          @click="changePage(p)"-->
    <!--      >-->
    <!--        {{p}}-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</template>

<script>
import PostForm from "@/components/PostForm";
import PostList from "@/components/PostList";
import axios from "axios";
import MyButton from "@/components/UI/MyButton";
import MySelect from "@/components/UI/MySelect";
import MyInput from "@/components/UI/MyInput";

export default {
  components: {
    MyInput,
    MySelect,
    MyButton,
    PostList, PostForm,
  },
  data() {
    return {
      posts: [],
      dialogVisible: false,
      isPostsLoading: false,
      selectedSort: '',
      searchQuery: '',
      page: 0,
      limit: 10,
      totalPages: 0,
      sortOptions: [
        {value: 'title', name: 'Name'},
        {value: 'body', name: 'Description'},
      ],
    }
  },
  methods: {
    createPost(post) {
      this.posts.push(post);
      this.dialogVisible = false;
    },
    removePost(post) {
      this.posts = this.posts.filter(p => p.id !== post.id)
    },
    showDialog() {
      this.dialogVisible = true;
    },
    async loadMorePosts() {
      try {
        this.page += 1;
        const {data, headers} = await axios.get('https://jsonplaceholder.typicode.com/posts', {
          params: {
            _limit: this.limit,
            _page: this.page,
          }
        });
        this.totalPages =  Math.ceil(headers['x-total-count'] / this.limit);
        this.posts = [...this.posts, ...data];
      } catch (e) {
        alert('Error ', e)
      }
    },
    // changePage(pageNumber){
    //   this.page = pageNumber;
    // }
  },
  mounted() {
    this.loadMorePosts();
    // const options = {
    //   rootMargin: '0px',
    //   threshold: 1.0,
    // }
    // const callback = (entries, observer) => {
    //   if(entries[0].isIntersecting && this.page < this.totalPages) {
    //     this.fetchUsers();
    //   }
    // };
    //
    // const observer = new IntersectionObserver(callback, options);
    // observer.observe(this.$refs.observer);
  },
  computed: {
    sortedPosts() {
      return [...this.posts].sort((post1, post2) => {
        return post1[this.selectedSort]?.localeCompare(post2[this.selectedSort]);
      })
    },
    sortedAndSearchedPosts() {
      return this.sortedPosts.filter(post => post.title.toLowerCase().includes(this.searchQuery.toLowerCase()))
    }
  },
  // watch: {
  //   page() {
  //     this.fetchUsers();
  //   }
  //   // selectedSort(newValue) {
  //   //   this.posts.sort((post1, post2) => {
  //   //     return post1[newValue]?.localeCompare(post2[newValue]);
  //   //   })xx
  //   // }
  // }
}
</script>

<style>

.app__btns{
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.create__btn {
  margin: 15px 0 15px;
}

.page__wrapper{
  display: flex;
  margin-top: 15px;
}
.page {
  border: 1px solid black;
  padding: 10px;
}

.current-page {
  border: 2px solid teal;
}

.observer {
  height: 30px;
  background: gray;
}

</style>