<template>
  <form @submit.prevent>
    <h4>Creating post</h4>
    <my-input
        v-model="post.title"
        placeholder="Name"
    />
    <my-input
        v-model="post.body"
        placeholder="description"
    />
    <my-button
        @click="createPost"
        class="form__btn"
    >
      Create
    </my-button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      post: {
        title: '',
        body: '',
      }
    }
  },
  methods: {
    createPost() {
      this.post.id = Date.now();
      this.$emit('create', this.post);
      this.post = {
        title : '',
        body : '',
      }
    }
  }
}
</script>

<style scoped>
form{
  display: flex;
  flex-direction: column;
}


.form__btn{
  margin-top: 15px;
  align-self: flex-end;
}

</style>